{% extends 'base.html' %}

{% block page_title %}
  Add an author
{% endblock page_title %}

{% block contents %}
  <form method="post" enctype="multipart/form-data">
  {% csrf_token %}

    {% for field in form.hidden_fields %}
      {{ field }}
    {% endfor %}

    {% for field in form %}
      <div class="row">
        <div class="column small-3">{{ field.label_tag }}</div>
        <div class="column small-9">
          {{ field }}
          {% if field.errors %}
          <div class="errors">{{ field.errors }}</div>
        {% endif %}
        </div>
      </div>
    {% endfor %}

  <div class="row">
    <div class="small-2 column">
      <button class="button" type="submit">Save</button>
    </div>
  </div>
  </form>
{% endblock contents %}