{% extends 'base.html' %}
{% load my_tags  static %}

{% block page_title %}
  Author details
{% endblock page_title %}

{% block contents %}
  <h1>{{ author.user.get_full_name }}</h1>

  <div class="row">
{#    {% if author.image %}#}
{#      <img src="{{ MEDIA_URL }}{{ author.image }}">#}
{#    {% else %}#}
{#      <img src="http://placehold.it/350x150" />#}
{#    {% endif %}#}
{#  #}

    <div><img src="{{ author.image|get_image }}"></div>
    <div><br /></div>
    <div><img src="{{ author.image|get_image:'http://placehold.it/700x300' }}"></div>
    <div><br /></div>
    <div><img src="{{ author.image|get_image2 }}"></div>
  </div>
  <div class="row">
    <div class="column small-4">Email:</div>
    <div class="column small-8">{{ author.user.email }}</div>
  </div>
  <div class="row">
    <div class="column small-4">Gender:</div>
    <div class="column small-8">{{ author.gender }}</div>
  </div>
  <div class="row">
    <div class="column small-4">Date of birth:</div>
    <div class="column small-8">{{ author.date_of_birth }}</div>
  </div>
  <div class="row">
    <p>Posts</p>
    <ul>
      {% for p in posts %}
        <li>{{ p.title }}</li>
      {% empty %}
        <li>{{ author.get_full_name }} has no posts.</li>
      {% endfor %}
    </ul>
  </div>


{% endblock contents %}