{% extends 'base.html' %}
{% load static %}

{% block page_title %}Create new post{% endblock page_title %}

{% block contents %}
  <h1>Create new post</h1>
  {% if post_created %}
    <p>New post has been created</p>
  {% endif %}

  {% if message %}
    <p>{{ message }}</p>
  {% endif %}

  <form class="form" method="post">
    {{ form }}
    <div class="form-row">
      <div class="form-label">&nbsp;</div>
      <div class="form-value">
        <ul class="form-controls ul-clear-type">
          <li><button class="alert button" type="reset">Clear</button></li>
          <li><button class="button" type="submit">Create</button></li>
        </ul>
      </div>
    </div>

    {% csrf_token %}
  </form>
{% endblock contents %}
{% block css %}
  <link href="{% static 'css/form.css' %}" type="text/css" rel="stylesheet"/>
{% endblock css %}