{% extends 'base.html' %}
{% load static %}

{% block page_title %}
  Post: {{ post.title }}
{% endblock page_title %}

{% block contents %}
  <div class="post">
    <h1 class="title">{{ post.title }}</h1>
    <div class="date">{{ post.created_at }} / Status: {{ post.get_status_display }}</div>
    <ul>
      {% for c in post.categories.all %}
        <li>{{ c }}</li>
      {% endfor %}
    </ul>
    <p class="description">
      {{ post.description }}
    </p>
    <div>
      Author: <strong>{{ author.user.get_full_name }}</strong>
    </div>
    <ul>
      <li>
        <a href="{% url 'posts-change-status' post.id %}" id="change-status">
          Mark as
          {% if post.status == 'd' %}
            published
          {% else %}
            draft
          {% endif %}
        </a>
      </li>
      <li>
        <a href="{% url 'posts-update' post.id %}">
          Update details
        </a>
      </li>
      <li>
        <form method="post" action="{% url 'post-delete' post.id %}" id="deleteForm">
          {% csrf_token %}
          {{ delete_form }}
          <div class="row">
            <button type="submit" class="primary button">Delete</button>
          </div>
        </form>
      </li>
    </ul>
  </div>
{% endblock contents %}

{% block css %}
  <link href="{% static 'css/post.css' %}" type="text/css" rel="stylesheet" />
{% endblock css %}
{% block js %}
  <script>
    $('#change-status').on('click', function (e) {
        e.preventDefault();
        var $this = $(this);
        var url = $this.attr('href');
        var csrftoken = Cookies.get('csrftoken');
        $.ajax(url, {
            method: 'POST',
            headers: {
                'X-CSRFToken': csrftoken,
            },
            success: function (response) {
                $this.text('Mark as ' + response.text);
            }
        });
    });

    $('#deleteForm').ajaxForm(function () {
        alert('Post has been deleted');
        window.location = '/';
    })
  </script>
{% endblock js %}