{% extends 'base.html' %}
{% load static %}

{% block page_title %}
  Post: {{ post.title }}
{% endblock page_title %}

{% block contents %}
  <div class="post">
    <h1 class="title">{{ post.title }}</h1>
    <div class="date">{{ post.created_at }} / Status: {{ post.get_status_display }}</div>
    <p class="description">
      {{ post.description }}
    </p>
    <div>
      Author: <strong>{{ author.get_full_name }}</strong>
    </div>
    <ul>
      <li>
        <a href="{% url 'posts-change-status' post.id %}">
          Mark as
          {% if post.status == 'd' %}
            published
          {% else %}
            draft
          {% endif %}
        </a>
      </li>
      <li>
        <a href="{% url 'posts-update' post.id %}">
          Update details
        </a>
      </li>
      <li>
        <form method="post" action="{% url 'post-delete' post.id %}">
          {% csrf_token %}
          {{ delete_form }}
          <div class="row">
            <button type="submit" class="primary button">Delete</button>
          </div>
        </form>
      </li>
    </ul>
  </div>
{% endblock contents %}

{% block css %}
  <link href="{% static 'css/post.css' %}" type="text/css" rel="stylesheet" />
{% endblock css %}
